---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{title}</title>

  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="/global.css" />
</head>
<body>
  <main class="container">
    <slot />
  </main>

  <footer>
    <span>QVRX ©</span>
    <span>Essays, fragments and technical notes.</span>
  </footer>
</body>
</html>
